In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [10]:
data = pd.read_csv(r"C:\API\automation\src\notebook\final_data.csv")

In [11]:
data.head()

,origin_city,origin_State,origin_latitude,origin_longitude,destination_city,Destination State,dest_latitude,dest_longitude,equipment_type,rate_search_type,fuel_charges,avg_rate_rpm,date_year,date_month,data_date
0,ALABASTER,AL,33.218709,-86.783546,FRANKLINVILLE,NY,42.335942,-78.431447,Flat Bed,shipper,4.4,9.05,2024,6,22
1,ALABASTER,AL,33.226802,-86.905589,CHEMUNG,NY,42.058959,-76.613664,Van,carrier,3.6,13.15,2022,2,19
2,ALACHUA,FL,29.821385,-82.490936,ALBANY,NY,42.652500,-73.756700,Reefer,shipper,3.3,10.78,2023,7,3
3,ALACHUA,FL,29.787679,-82.494362,SCHENECTADY,NY,42.814800,-73.939300,Reefer,carrier,4.3,13.79,2020,1,12
4,ALAMANCE,NC,36.035100,-79.486300,PONCE,PR,18.000417,-66.614669,Flat Bed,shipper,4.9,9.36,2024,6,11

In [12]:
data.dtypes

origin_city           object
origin_State          object
origin_latitude      float64
origin_longitude     float64
destination_city      object
Destination State     object
dest_latitude        float64
dest_longitude       float64
equipment_type        object
rate_search_type      object
fuel_charges         float64
avg_rate_rpm         float64
date_year              int64
date_month             int64
data_date              int64
dtype: object